/bionexo/.phpunit.cache
/bionexo/node_modules
/bionexo/public/build
/bionexo/public/hot
/bionexo/public/storage
/bionexo/storage/*.key
/bionexo/vendor
/bionexo/.env
/bionexo/.env.backup
/bionexo/.env.production
/bionexo/.phpunit.result.cache
/bionexo/Homestead.json
/bionexo/Homestead.yaml
/bionexo/auth.json
/bionexo/npm-debug.log
/bionexo/yarn-error.log
/bionexo/.fleet
/.idea
/.vscode
/.docker/mysql
/.docker/redis
